hybris/bin/ext-*/
hybris/bin/platform/
hybris/config/
hybris/temp/
hybris/data
hybris/log
installer/
**/bin/**/bin
**/gensrc/
**/classes/
**/items.xsd
**/beans.xsd
**/hmc.xsd
**/build.xml
**/platformhome.properties
!/build.xml
**/extensioninfo.xsd
**/*-testclasses.xml
**/*-webtestclasses.xml
**/*-hmctestclasses.xml
**/testclasses/
tmp/**
**/eclipsebin/
.springBeans
.project
.DS_Store
hybris/env/local/10-local.properties
**/.vagrant/
velocity.log

.metadata

#IDE files
**/.idea/*
*.iml
com.springsource.sts.config.flow.prefs
org.sonar.ide.eclipse.core.prefs
HybrisCodeGeneration.launch

org.springframework.ide.eclipse.beans.core.prefs
org.springframework.ide.eclipse.core.prefs

# Filename patterns to ignore
*.class
**/Generated*.java
**/hmc.jar
**/ruleset.xml
**/.pmd
**/*.log
**/*build.number

base.properties
#  Addon specific copy folders
**/web/addonsrc/
**/web/addontestsrc/
**/web/commonwebsrc/
**/web/webroot/WEB-INF/_ui-src/addons/
**/_ui/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
**/*_bof.jar

**/web/webroot/_ui/responsive/theme-*/css/style.css
**/*storefront/node_modules

### Eclipse ###
*.swp
*~.nib
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.autotools
.factorypath
.target
.tern-project
.texlipse
.recommenders/
.apt_generated/
.cache-main
.scala_dependencies
.worksheet
.project
.classpath
.apt_generated
.sts4-cache/
.*bash_profile

# Sonar
.sonar/
.scannerwork/
.sonarlint/